
Conteúdo F - Base de Carros Usados/Programa 29 - Pré-processamento de Dados/.ipynb_checkpoints/Programa 29 - Pré-processamento de Dados-checkpoint.ipynb
Conteúdo F - Base de Carros Usados/Programa 30 - Estrutura da Rede Neural/.ipynb_checkpoints/Programa 30 - Estrutura da Rede Neural-checkpoint.ipynb
Conteúdo F - Base de Carros Usados/Programa 32 - Validação Cruzada/.ipynb_checkpoints/Programa 32 - Validação Cruzada-checkpoint.ipynb
Conteúdo F - Base de Carros Usados/Programa 31 - Validação Cruzada/.ipynb_checkpoints/Programa 31 - Validação Cruzada-checkpoint.ipynb
Conteúdo D - Base de Dados Breast Cancer/Programa 13 - Base de Dados Breast Cancer/.ipynb_checkpoints/Programa 13 - Base de Dados Breast Cancer-checkpoint.ipynb
Conteúdo E - Base de Dados Iris/Programa 24 - Rede Neural Base Iris/.ipynb_checkpoints/Programa 24 - Rede Neural Base Iris-checkpoint.ipynb
Conteúdo F - Base de Carros Usados/Programa 31 - Validação Cruzada/.ipynb_checkpoints/Programa 31 - Validação Cruzada-checkpoint.ipynb